html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
   
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1b1818; 
}
.header{
    background: #332208;

}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 27px 0;
}
.menu_list{
    display: flex;
}
.menu_item{
    margin: 0 15px;
}

.menu_list-link{
    text-transform: uppercase;
    color: #fefefe;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 5px;
    transition: all .5s;
    border-bottom: 1px solid transparent;
}
.menu_list-link:hover{
border-bottom: 1px solid #fefefe;

}
.phone{
    color: #fefefe;
    font-size: 18px;
    line-height: 21px;
}
.top_heading{
    display: flex;
    padding: 50px 0 30px;
}
.top_content{
    text-align: center;
    padding-top: 90px;
    width: 50%;
}
.top_tittle{
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    margin: 0 auto 20px;
    max-width: 455px;
}
.top_text{
 font-size: 24px;
 line-height: 28px;
 margin: 0 auto 60px;
 max-width: 470px;
}
 .top_item-imgs{
    margin: 0px auto 10px;}

.application-btn{
    text-transform: uppercase;
    color: #fefefe;
    background: #c5ac2d;
    padding: 16px 19px 15px;
    transition: all .5s;
    border: 1px solid transparent;
}
.application-btn:hover{
    color: #c5ac2d;
    background: #fefefe;
    border: 1px solid #c5ac2d;
}
.top_slider{
    width: 50%;

}
.top_slider.slick-dots{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%);
}
.slick-dots{
    list-style: none;
    text-align: center;
    
}
 .slick-dots button{
    font-size: 0;
    width: 8px;
    height: 8px;
    background-color: #332208;
    border: none;
    border-radius: 50%;
    padding: 0;
    
 }
 .slick-active button{
    width: 16px;
    height: 16px;
 }
 .top_slider-text{
    font-weight: 500;
    padding-right: 100px;
    text-align: right;
 }
 .top_slider-text span + span{
    padding-left: 12px;
 }
 .top_botton{
display: flex;

 }
 .top_items{
width: 50%;
display: flex;
justify-content: space-around;
 }
 .top_item{  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   text-align: center;}